.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding: 20px 0;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  margin-top: auto;
} 